<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevyte Board</title>
    <script src="https://kit.fontawesome.com/d2ea3cb570.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/dashboard.css">
    <link rel="stylesheet" href="/public/css/board.css">
</head>

<body>
    <div class="container-pro">

        <div class="sidebar" id="sidebar">
            <div class="background">
                <div class="logo">
                    <i class="fa-solid fa-bars-staggered" id="bars"></i>
                    <img src="/public/images/download.png" alt="" id="logo">
                    <span class="fas fa-times" id="x-mark"></span>
                </div>
                <nav>
                    <a href="/dashboard"><i class="fas fa-th-large"></i><span class="nav-link">Dashboard</span></a>
                    <a href=""><i class="fas fa-user-friends"></i><span class="nav-link">Manage Resume</span></a>
                    <a href="" class="active"><i class="fas fa-briefcase"></i><span class="nav-link">Job
                            Board</span></a>
                    <a href=""><i class="far fa-clock"></i><span class="nav-link">Applicaion Tracker</span></a>
                    <a href=""><i class="fas fa-clipboard-check"></i><span class="nav-link">Saved Jobs</span></a>
                    <a href=""><i class="fas fa-calculator"></i><span class="nav-link">Job Calculator</span></a>
                    <a href=""><i class="fas fa-medal"></i><span class="nav-link">Jobfairs</span></a>
                </nav>
            </div>
        </div>

        <section class="main">
            <header id="header">
                <div class="top">
                    <i class="fa-solid fa-bars-staggered" id="res-bars"></i>
                    <h3 class="head">Job Board</h3>
                </div>
                <div class="icon">
                    <span><i class="far fa-bell"></i></span>
                    <span class="username">username</span>
                </div>
            </header>
            <div class="board-hero">
                <div class="board-grid">
                    <div class="board-filter">
                        <span>
                            <i class="fas fa-filter"></i>
                            FILTERS:
                        </span>
                        <span>
                            Experiance
                            <i class="fas fa-chevron-down"></i>
                        </span>
                        <span id="location-btn">
                            Location
                            <i class="fas fa-chevron-down"></i>
                        </span>
                        <div class="board-location">
                            <input type="search" name="location" id="location-input" placeholder="Search Location">
                            <div class="box-container">
                                
                            </div>
                        </div>
                        <span>
                            Job Type
                            <i class="fas fa-chevron-down"></i>
                        </span>
                        <span>
                            Job Preference
                            <i class="fas fa-chevron-down"></i>
                        </span>
                        <span>
                            Skills
                            <i class="fas fa-chevron-down"></i>
                        </span>
                        <span>
                            Jobfairs
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </div>
                    <div class="board-nav-list">2</div>
                    <div class="board-job-details">3</div>
                </div>
            </div>
        </section>
    </div>
    <script src="/public/js/board.js"></script>
</body>

</html>