<div class="content">
            <div class="box">
                <img src="/public/images/index/candidate_login_img.c5ae00b18ae0aeb5a99c63b0bb499eaa.svg" alt="" class="userImage">
                <div class="card">
                    <img src="/public/images/index/img1.png" alt="">
                    <div class="card-content">
                        <h3>resume builder</h3>
                        <p>Automatically creates professional, Elegant and modern Resumes.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/public/images/index/img2.png" alt="">
                    <div class="card-content">
                        <h3>Job Relevance Rating</h3>
                        <p>AI-Powered Relevance Rating for every Job posted</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/public/images/index/img3.png" alt="">
                    <div class="card-content">
                        <h3>Veranda Verified</h3>
                        <p>Skills verified by Veranda Assessments & Quizzes</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/public/images/index/img4.png" alt="">
                    <div class="card-content">
                        <h3>Projects & Certifications</h3>
                        <p>Attach additional certificates & Achievements to Resume/ Profile</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/public/images/index/img5.png" alt="">
                    <div class="card-content">
                        <h3>Portfolio Management</h3>
                        <p>Share your design/image/code portfolio To stand out from the rest</p>
                    </div>
                </div>
            </div>
        </div>