*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.container{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.container .content{
    background: #fff5f2;
    flex: 1 1 50rem;

}
.container .content .box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .content .box .card{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 42rem;
    padding: .8rem 0;
}
.container .content .box .card img{
    width: 5rem;
    background: #fff;
    border-radius: 50%;
    border: .1rem solid #c9c4c4;
    padding: 1rem;
    margin-right: 1.5rem;
}
.container .content .box .card .card-content h3{
    font-size: 1.7rem;
    color: rgb(8, 24, 59);
}
.container .content .box .card .card-content p{
    font-size: 1.4rem;
    padding-top: .7rem;
}
.container .content .box .userImage{
    height: 25rem;
}
.container .user{
    flex: 1 1 50rem;
    padding: 2rem 0;
}
.container .user .user-login-1{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 5rem;
}
.container .user .user-login-1 h3{
    margin-top: 1.8rem;
    font-size: 1.5rem;
}
.container .user .user-login-1 #form-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 85%;
}
.container .user .user-login-1 #form-control input{
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    margin: 1rem 0;
    border:.1rem solid #aaa;
}
.container .user .user-login-1 #form-control label{
    text-align: left;
    margin: 1rem 0;
    font-size: 1.5rem;
}
.container .user .user-login-1 #form-control .submit{
    cursor: pointer;
}
.container .user .user-login-1 #form-control a{
    margin: 1.5rem 0;
    font-size: 1.3rem;
}.container .user .user-login-1 #form-control p{
    margin-top: 1rem;
}
.container .user .user-login-1 #form-control .register{
    font-size: 2rem;
}
.container .user .user-login{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.container .user .user-login img{
    display: inline-block;
}
.container .user .user-login h3{
    font-size: 2.3rem;
    padding: 2rem 1rem;
}
.container .user .user-login form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.container .user .user-login form input{
    width: 43rem;
    height: 5rem;
    padding: 1rem;
    border: .1rem solid #c9c4c4;
    border-radius: .5rem;
    margin: 1rem 0;
    font-size: 1.5rem;
}
.container .user .user-login form label{
    margin-top: 1.1rem;
    font-size: 1.5rem;
    text-align: start;

}
.container .user .user-login form a{
    font-size: 2rem;
    margin: 1.5rem 0;
}
.container .user .user-login form  .register{
    margin-left: 10px;
    display: inline-block;
    color: #160b3f;
}
.container .user .user-login form span{
    font-size: 15px;
}
.container .user .user-login form .submit:hover{
    background: #fff5f2;
    color: #333;
}

.container .user .user-login form .submit{
    display: inline-block;
    
}


/* for the register page */

.container .user .user-login form .box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left:5rem ;
    width: 90%;
}
.container .user .user-login form  .register-1{
    transform: translateX(50%);
    color: #160b3f;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    width: 50%;
    margin-top: 20px;
}
.container .user .user-login form .box .box-content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    width: 50%;
    height: 113px;
}
.container .user .user-login form .box .box-content input{
    width: 94%;
    border-radius: 0;
}
.container .user .user-login form .box .box-content input.active{
    border: red .1rem solid;
}
.container .user .user-login form .box .box-content small{
    font-size: 1.2rem;
    color: red;
    align-self: flex-start;
    margin-top: 0px;
}
.container .user .user-login form .box .box-content i{
    position: absolute;
    top: 47%;
    font-size: 2rem;
    visibility: hidden;
    right: 15%;
    color: red;
}
.container .user .user-login form .box .box-content i.active{
    visibility: visible;
}



@media screen and (max-width:560px) {
    html{
        font-size: 50%;
    }
    .container .content{
        background: #fff5f2;
        flex: 1 1 50rem;
        display: none;
    }
    .container .user{
        padding: 4rem 0;
    }
    .container .user .user-login form .box .box-content{
        width: 100%;
        height: 85px;
        position: relative;
    }
    .container .user .user-login form .box .box-content small{
        position: absolute;
        top: 90%;
    }
    .container .user .user-login form .box .box-content input{
        width: 100%;
    }
    .container .content .box .userImage{
        height: 20rem;
    }
    .container .user .user-login form .box .box-content i{
        right: 5%;
        top: 49%;
    }
    
}